!!! 5
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title tuner.coltrane.io - web audio instrument tuner

        // External Stylesheets
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

        // Custom Stylesheets
        link(rel='stylesheet', href='/css/app.css')

    body
        .container
            header
                h1 tuner.coltrane.io
            hr

            // Instrument + Tuning selection
            section
                select.form-control
                    option Instrument
                    option 6-String guitar
                    option Ukulele
                    option Banjo

                select.form-control
                    option Tuning

            // Tuning display
            section
            footer
                p.pull-left Created by Frederik Nakstad. Code available on GitHub.
